<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <%- include('../includes/flash-msg.ejs') %>
                <div class="container">
                    <div class="main-body">
                        <div class="row gutters-sm">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <%if(!user.imgUrl){%>
                                                <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
                                                    alt="profile pic" class="rounded-circle" height="214">
                                                <%}else{%>
                                                    <img src="<%=user.imgUrl%>" alt="profile pic" class="rounded-circle"
                                                        height="214">
                                                    <%}%>

                                                        <div class="mt-3">
                                                            <h4>
                                                                <%=user.fullName%>
                                                            </h4>
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5 class="mb-0">Full Name</h5>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%=user.fullName%>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5 class="mb-0">Email</h5>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%=user.email%>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5 class="mb-0">Phone</h5>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%=user.phone%>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h5 class="mb-0">Address</h5>
                                            </div>
                                            <div class="col-sm-9 text-secondary">

                                                <%=user.address.addressLine1%>,
                                                    <%=user.address.city%>,
                                                        <%=user.address.pincode%>,
                                                            <%=user.address.state%>,
                                                                <%=user.address.country%>
                                            </div>

                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a id="btn" style="text-decoration: none;" href="/edit-profile">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <%- include('../includes/end.ejs') %>